body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #f4f4f4;
}

header {
    background: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.catamaran-list, .catamaran-statistics, .admin-catamaran-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.title{
    text-align: center;
    margin-top: 15px;
    font-size: 1.3em;
}

.catamaran-card, .stat-card, .admin-catamaran-card {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 200px;
    text-align: center;
}

.catamaran-card-title{
    margin: 5px;
}

.toggle-btn, .add-catamaran, .add-curator {
    background: #28a745;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    margin: 10px 5px;
}

.toggle-btn:active, .add-catamaran:active, .add-curator:active {
    background: #218838;
}

.login-form {
    max-width: 300px;
    margin: 0 auto;
}

.login-form label {
    display: block;
    margin: 10px 0 5px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.login-form button:hover {
    background: #0056b3;
}

/* Адаптивность */
@media (max-width: 600px) {
    .catamaran-card, .stat-card, .admin-catamaran-card {
        width: 100%;
    }
}